body{
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: helvetica;
}
.apex{
  margin-left: 160px;
  margin-top: 20px;
}
.head1{
  margin-left: 160px;
  color: #ff3300;
  font-size: 45px;
  font-weight: 700;
}
.para1{
  margin-left: 160px;
  margin-top: -30px;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 500;
}
.ann{
  margin-top: 160px;
  margin-left: 160px;
  font-size: 28px;
  font-weight: bold;
}
.field1{
  border:1px solid #cccccc;
  margin-left: 160px;
  margin-right: 450px;
  border-radius: 4px;
  background-color: #f5f5f0;
  padding-left: 20px;
  font-size: 13px;
  font-weight: 600;

}
.java{
  line-height: 1.5;
}
.para3{
  font-weight: 400;
  line-height: 1.5;
}
h4{
  color:#ff3300;
}
.field2{
  margin-top: -170px;
  border:1px solid #cccccc;
  margin-left: 960px;
  margin-right: 35px;
  padding-bottom: 50px;
  padding-left: 20px;
  border-radius: 4px;
  background-color: #f5f5f0;
  font-size: 13px;
  font-weight: 600;
}
input[type=button]{
  background-color: #ff3300;
  border-radius: 5px;
  border: none;
  color: white;
}
.course{
  margin-top: 110px;
  margin-left: 160px;
  font-size: 28px;
  font-weight: bold;
}
.container {
  position: absolute;
}
.bg1{
  background-repeat: no-repeat;
  background-size: 110%;
  width: 100%;
}
.text-block {
  position: absolute;
  bottom: 	-750px;
  left: 800px;
  right: 20px;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;

}
.head3{
  margin-top: -450px;
  margin-left:160px;
  font-size: 30px;
  font-weight: 500;
}
.para2{
  margin-left: 160px;
  margin-top: -30px;
  font-size: 17px;
  line-height: 1.6;
  font-weight: 500;
}
.field3{
  background-color: #ffffff;
  color:black /*#e0e0d1*/;
  border:1px red;

  margin-top: -300px;
  margin-left: 850px;
}
h5{
  color: #adad85;
  line-height: 0.5;
}
ul {
  padding-left: 5px;

}
.l1{
  list-style-type: none;
}
li {
   float: left;
   width: auto;
   font-size: 15px;
   list-style-type:disc;
}
.para4{
  font-size: 15px;
  line-height: 1.5
}
marquee{
padding-top: 450px;
}
.face{
  padding-top: 40px;
  margin-left: 160px;
}
.field4{
  border: none;
  margin-left: 960px;
  margin-top: -50px;
  margin-right: 180px;
}
a{
  text-decoration: none;
  color: #5c5c3d;
  font-size: 14px;
  line-height: 2.5;
  font-weight: 550;
}
.field5{
  border: none;
  margin-left: 1160px;
  margin-top: -220px;
  margin-right: 0px;
}
.foot{
  margin-bottom: -345px;
  margin-left: 580px;
  width: auto;
}
footer{
  margin-top: 355px;
  text-align: center;
  font-size: 12px;
  color: #adad85;
}
